.list-wrap{
    width:100%;
    h3{
        padding-top: 60px;
        margin-left:20px;
        margin-bottom: 44px;
        font-size:36px;
        font-weight:700;
        color:#474747;
    }
    table{
        width:86%;
        margin:0 auto;
        text-align:center;
        thead{
            th{
                font-size: 13px;
                font-weight:600;
                color:#797979;
                padding:20px;
                &:nth-child(1){
                    width:20%;
                }
                &:nth-child(2){
                    width:60%;
                }
                &:nth-child(3){
                    width:20%;
                }
            }
        }
        tbody{
            tr{
                border-top: 2px solid #EFEFEF;
                &:nth-child(2n){
                    width:100%;
                    text-align:left;
                    border-top:none;
                    padding-top:40px;
                }
                td{
                    font-size: 13px;
                    font-weight:400;
                    color: #9f9f9f;
                    padding:20px;
                    &:nth-child(1){
                        width:20%;
                    }
                    &:nth-child(2){
                        width:60%;
                    }
                    &:nth-child(3){
                        width:20%;
                    }
                }
            }
        }
    }
    .write-button-wrap{
        width:86%;
        margin:0 auto;
        display: flex;
        justify-content:flex-end;
        margin-bottom:26px;
        button{
            width: 80px;
            height: 22px;
            background-color:#4c4a4a;
            border:none;
            border-radius:4px;
            font-size:14px;
            font-weight:600;
            color:#fff;
            cursor:pointer;
            margin-right:4px;
        }
    }
}